@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400&display=swap');

body {
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Urbanist', sans-serif;
}

.box {
    background-color: #252525;
    margin: 20px;
    padding: 20px;
    padding-top: 5px;
    border-radius: 32px;
    font-family: 'Urbanist', sans-serif;
}

.yt, .tt {
  border-radius: 10px;
  height: 40px;
  width: 75px;
  color: white;
  font-family: 'Urbanist', sans-serif;
}

.tt {
  background: linear-gradient(to right, rgb(153, 0, 255) , rgb(0, 68, 255));
}

.yt {
  background: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 153, 0));
}

.tt:hover {
    border-radius: 20px;
}

.yt:hover {
  border-radius: 20px;
}

.topnav {
    background-color: #000000;
    border-radius: 32px;
    font-family: 'Urbanist', sans-serif;
    color: white;
    margin-top: 10px;
    font-size: 50px;
    height: fit-content;
    padding: auto;
    text-align: center;
}

.pfp {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.socials {
    border-radius: 32px;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    padding: 10px;
}
